@font-face {
	font-family: 'minecraft';
	src: url('../font/minecraftia-webfont.eot');
	src: url('../font/minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/minecraftia-webfont.woff') format('woff'),
		 url('../font/minecraftia-webfont.ttf') format('truetype'),
		 url('../font/minecraftia-webfont.svg#minecraft') format('svg');
	font-weight: normal;
	font-style: normal;

}

@import '@BOOTSTRAP/variables.less';
@import '@BOOTSTRAP/mixins.less';
@import '@BOOTSTRAP/forms.less';
@import '@BOOTSTRAP/code.less';
@import "@BOOTSTRAP/scaffolding.less";
@import "@BOOTSTRAP/grid.less";
@import "@BOOTSTRAP/buttons.less";
@import "@BOOTSTRAP/responsive-1200px-min.less";
@import "@BOOTSTRAP/layouts.less";
@import "@BOOTSTRAP/alerts.less";
@import "@BOOTSTRAP/utilities.less";
@import "@BOOTSTRAP/tables.less";
@import "@BOOTSTRAP/labels-badges.less";
@import "@BOOTSTRAP/progress-bars.less";
@import "@BOOTSTRAP/tooltip.less";
@import "@BOOTSTRAP/modals.less";


@futura: "freight-sans-pro", sans-serif;
@myriad: "Myriad Pro", "myriad-pro", sans-serif;

* {
	margin:0;
	padding:0;
}

body, html {
	height:100%;
}

body {
	font-family:@myriad;
	background:url('../img/bg.png');
}

a {
	text-decoration:none;
	cursor:pointer;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom:20px;
	margin: 0 auto -120px;
}

#navbar {
	background:#fff;
	height:100px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

	h1 {
		float:left;
	}
	#logo {
		display:block;
		font-family:@futura;
		color:#000;
		text-decoration:none;
		font-size:1.5em;
		font-weight:300;
		text-transform:uppercase;
		line-height:100px;
		height:100px;
		padding-left:70px;

		background:url('../img/logo.png') left center no-repeat;

		span {
			color:#2a8fbd;
		}

		&:hover {
			color:#666;
		}
	}

	ul {
		display:block;
		overflow:hidden;
		font-family:@futura;
		float:right;
	}

	li {
		list-style-type:none;
		display:inline;

		a {
			display:inline-block;
			padding:0 20px;
			line-height:100px;
			color:#666;
			text-decoration:none;
			text-transform:uppercase;

			&:hover {
				color:#111;
			}
		}
	}
}

#intro {
	background:url('../img/mcbg.jpg') center center;
	height: 500px;
	margin-bottom: 100px;

	h1 {
		font-family:@futura;
		color: #444;
		font-size: 2.5em;
		text-shadow: 0 1px 0 #fff;
		font-weight:normal;
		text-transform:uppercase;
		text-align:center;
		margin-bottom:10px;
		font-weight:300;
	}

	#introcont {
		margin-top:35px;
		background: url('../img/grid.png');
		padding: 20px;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
		width:1010px;
		position:relative;
		left:50%;
		margin-left:-505px;
	}


	.serverlisting {
		border-top:none;
	}

}

.server-img {
	border-radius:3px;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);

	&.standard {
		width:468px;
		height:60px;
	}
}
.boxxed .server-img.standard {
	margin:0 auto 20px;
}


.blue, .gray {
	padding:6px 10px;
	font-size: 18px;
	text-transform:uppercase;
	text-align:center;

	&:hover {
		text-decoration: none;
	}
}

.blue {

	display:inline-block;

	color: #fefefe;

	border: 1px solid rgba(255, 255, 255, .9);
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.75);
	background-image: -moz-linear-gradient(bottom, #298fbd 0%, #33a4d8 100%);
	background-image: -webkit-linear-gradient(bottom, #298fbd 0%, #33a4d8 100%);
	background-image: linear-gradient(bottom, #298fbd 0%, #33a4d8 100%);

	&:hover {
		box-shadow: inset 0 1px 1px rgba(0,0,0,.5), inset 0 -2px 4px rgba(255,255,255,.2), inset 0 0 5px rgba(0, 0, 0, 0.3);
		color:#fff;
		background: #298fbd;
	}
}

.gray {

	display:inline-block;
	color: #999;
	text-shadow: 0 1px 0 rgba(255,255,255,.3);

	border: 1px solid #f6f6f6;
	border-radius: 4px;
	background-color: #e81437;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.18);
	background-image: -moz-linear-gradient(bottom, #ccc 0%, #d8d8d8 100%);
	background-image: -webkit-linear-gradient(bottom, #ccc 0%, #d8d8d8 100%);
	background-image: linear-gradient(bottom, #ccc 0%, #d8d8d8 100%);

	&:hover {
		box-shadow: inset 0 1px 1px rgba(0,0,0,.18), inset 0 3px 15px rgba(0, 0, 0, 0.1);
		color:#666;
	}
}

.votebox {


	span {
		display:block;
		width:60px;
		height:46px;
		line-height:40px;

		color: #656565;
		font-size: 21px;
		text-align:center;
		margin:0 auto;
		background:url('../img/votebox.png');
	}
}
.serverlisting {
	margin:0 auto;
	padding:20px 0;
	border-top:1px solid #ddd;

	> div {
		height:60px;
		vertical-align:middle;
	}

	.span2:first-child {
		font-family: 'minecraft';
		text-align:right;
		font-size:50px;
		line-height:60px;
		color:#ccc;
		position:relative;
		margin-left: -10px;

		&:after {
			content: " ";
			background: url('../img/shadow.png');
			width: 19px;
			height: 101px;
			display: block;
			position: absolute;
			right: 3px;
			top: -20px;
		}
	}

	.span3 {

		h3 {
			height:45px;
			margin:0;
			line-height:normal;
			font-size:1.7em;
		}
		span {
			display: block;
			font-weight:normal;
			font-size:0.5em;
		}
	}
	.playlink, .weblink {
		width:100%;
		padding-left:0;
		padding-right:0;
	}
	.weblink {
		font-size:1em;
		padding:2px 0;
	}

	.standard {
		width:468px;
		height:60px;
	}

	.votebox span {
		margin:0;
	}
	.votebox {
		margin-top: -7px;
	}

	i {
		font-size: 0.8em;
		background: #f7f7f9;
		padding: 2px;
		display: block;
		line-height: 1em;
		margin: 3px 0;
		text-align: center;
		border-radius: 4px;
		border: 1px solid #e1e1e8;
		font-style: normal;

		b {
			display:block;
			text-align:center;
		}
	}
}

#fpush {
	height:140px;
}

#footer {
	background-color: #298fbd;
	box-shadow: inset 2px 2px 5px rgba(255,255,255,.23);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13) 0%, rgba(255,255,255,.13) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13) 0%, rgba(255,255,255,.13) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13) 0%, rgba(255,255,255,.13) 100%);
	background-image: linear-gradient(bottom, rgba(0,0,0,.13) 0%, rgba(255,255,255,.13) 100%);
	height:120px;
	

	.container {
		width:940px;
		height:120px;
		background:url('../img/footerback.png');

		> div {
			line-height:100px;
			padding:20px 80px 0;
		}
	}

}
#content-standard {
	margin-top: 30px;

	h1 {
		margin-bottom:10px;
	}

	 .boxxed {
		background: #fff;
		border-top: 2px solid #2a8fbd;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		margin-bottom:10px;
	}
}
.padded {
	padding:20px;
}

#recaptcha_area, #recaptcha_table {
	line-height: 0!important;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
#vote-container {
	padding: 10px;
	background: rgba(42, 143, 189, 0.2);
	text-align: center;
	border-radius: 5px;
	border: 1px dashed rgba(42, 142, 189,0.5);
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }